Repository ddbj/ddbj-repository, pull requests merged in 2024-02, with the labels that each got.

#192 Set pagination Link header using pagy's headers extra
  api/app/controllers/concerns/pagination.rb
  api/app/controllers/submissions_controller.rb
  api/app/controllers/validations_controller.rb
  api/config/initializers/pagy.rb
  api/spec/requests/validations_spec.rb
  web/app/routes/submissions/index.ts
  web/app/routes/validations/index.ts
  web/app/templates/submissions/index.hbs
  web/app/templates/validations/index.hbs
Labels: api

#193 Fix pagination issue
  api/app/controllers/submissions_controller.rb
  api/app/controllers/validations_controller.rb
  api/app/views/validations/_objs.json.jb
Labels: api

#183 Implement search
  api/app/controllers/validations_controller.rb
  api/app/models/validation.rb
  api/db/migrate/20240202095754_add_indexes_for_validation_search.rb
  api/db/schema.rb
  api/spec/factories/validations.rb
  api/spec/models/validation_spec.rb
  api/spec/requests/validations_spec.rb
  schema/openapi.d.ts
  schema/openapi.yml
  schema/openapi.yml.erb
  web/app/components/checkbox-group.hbs
  web/app/components/checkbox-group.ts
  web/app/components/checkbox-group/checkbox.hbs
  web/app/components/checkbox-group/checkbox.ts
  web/app/components/validations-search-form.hbs
  web/app/components/validations-search-form.ts
  web/app/controllers/validations/index.ts
  web/app/routes/validations/index.ts
  web/app/styles/app.css
  web/app/templates/validations/index.hbs
  web/package.json
  web/pnpm-lock.yaml
Labels: api, web

#198 Add style for no item
  web/app/templates/submissions/index.hbs
  web/app/templates/validations/index.hbs
Labels: web

#199 Include the selected tab in query parameters
  web/app/components/pagination.hbs
  web/app/controllers/submissions/index.ts
  web/app/controllers/validations/index.ts
  web/app/controllers/validations/new.ts
  web/app/routes/submissions/index.ts
  web/app/routes/validations/index.ts
  web/app/templates/validations/index.hbs
Labels: web

#200 Show details count
  web/app/components/details-count.hbs
  web/app/components/details-count.ts
  web/app/templates/validations/index.hbs
  web/app/templates/validations/show.hbs
Labels: web

#201 Rename ddbj_member to admin
  api/app/controllers/application_controller.rb
  api/app/controllers/auths_controller.rb
  api/app/views/mes/show.json.jb
  api/db/migrate/20240206004217_rename_ddbj_member_to_admin.rb
  api/db/schema.rb
  api/spec/controllers/application_controller_spec.rb
  api/spec/requests/auth_spec.rb
  api/spec/requests/me_spec.rb
  schema/openapi.d.ts
  schema/openapi.yml
  schema/openapi.yml.erb
  web/app/services/current-user.ts
  web/app/templates/application.hbs
Labels: api, web

#207 Expand click area
  web/app/templates/validations/index.hbs
Labels: web

#209 Better error messages
  web/app/components/error-message.hbs
  web/app/components/error-message.ts
  web/app/components/new-validation-form.ts
  web/app/components/submit-button.ts
  web/app/routes/login.ts
  web/app/routes/submissions/index.ts
  web/app/routes/submissions/show.ts
  web/app/routes/validations/index.ts
  web/app/routes/validations/show.ts
  web/app/utils/download-file.ts
  web/app/utils/safe-fetch.ts
Labels: web

#213 Merge /admin/validations into /validations
  api/Gemfile
  api/Gemfile.lock
  api/app/controllers/admin/application_controller.rb
  api/app/controllers/admin/validations_controller.rb
  api/app/controllers/concerns/search_validations.rb
  api/app/controllers/validations_controller.rb
  api/app/views/admin/validations/index.json.jb
  api/config/routes.rb
  api/spec/controllers/admin/application_controller_spec.rb
  api/spec/controllers/validations_spec.rb
  api/spec/requests/admin/validations_spec.rb
  api/spec/requests/validations_spec.rb
  schema/openapi.d.ts
  schema/openapi.yml
  schema/openapi.yml.erb
  web/app/routes/admin/validations/index.ts
Labels: api, web
